<?xml version="1.0" encoding="UTF-8"?>
<settings>
 <setting id="Title der Webseite" type="text" value="SMALL - Time, Zeiterfassung / Digitale Stempeluhr" beschreibung="Title der Webseite"/>
 <setting id="meta:Author" type="text" value="IT-Master GmbH" beschreibung="Author der Webseite"/>
 <setting id="meta:Editor" type="text" value="editor" beschreibung="Editor"/>
 <setting id="meta:Content-language" type="text" value="DE" beschreibung="Content"/>
 <setting id="meta:Content-Type" type="text" value="text/html; charset=utf-8" beschreibung="Zeichensatz"/>
 <setting id="meta:Content-Script-Type" type="text" value="text/javascript" beschreibung="Sprache"/>
 <setting id="meta:Page-type" type="text" value="SMALL - Time, Zeiterfassung, Projekterfassung, Stempeluhr für Ihre Mitarbeiter" beschreibung="Beschreibung"/>
 <setting id="meta:Page-topic" type="text" value="SMALL - Time, Zeiterfassung, Projekterfassung, Stempeluhr für Ihre Mitarbeiter" beschreibung="Suchwörter"/>
 <setting id="meta:Description" type="text" value="Zeiterfassung für Einzelfirmen, Privatpersonen und Kleinstunternehmen" beschreibung="Beschreibung"/>
 <setting id="meta:Keywords" type="text" value="php, zeiterfassung, datenbank, textbasierend, import, stempeluhr, digital" beschreibung="Suchwörter"/>
 <setting id="meta:Copyright" type="text" value="info@it-master.ch" beschreibung="Copyright by..."/>
 <setting id="Monatsanzeige" type="text" value="Jan.;Feb.;März;April;Mai;Juni;Juli;Aug.;Sept.;Okt.;Nov.;Dez." beschreibung="Anzeige im Menue"/>
 <setting id="Landeseinstellung (Bundes - Feiertag)" type="option" value="0" options="Switzerland,Germany,Austria,Liechtenstein" beschreibung="Landeseinstellung für den Bundes - Feiertag"/>
 <setting id="Anwesenheit zeigen" img="images/icons/report_user.png" type="option" value="1" options="Nein,Ja" beschreibung="Dürfen die User die Anwesenheit der andern sehen"/>
 <setting id="Stempelzeit edit 1" img="images/icons/clock_edit.png" type="option" value="1" options="Nein,Ja" beschreibung="Dürfen die User die Stempelzeiten nachträglich verändern (ja, nein)"/>
 <setting id="Eine Zeit hinzufügen" img="images/icons/time_add.png" type="option" value="1" options="Nein,Ja" beschreibung="User dürfen eine Zeit hinzufügen"/>
 <setting id="Anwesenheitsliste" img="images/icons/time_go.png" type="option" value="1" options="Nein,Ja" beschreibung="User dürfen mehrere Zeiten eingeben"/>
 <setting id="Absenzen eingeben" img="images/icons/date_add.png" type="option" value="1" options="Nein,Ja" beschreibung="User dürfen Absenzen eintragen"/>
 <setting id="Raport eintragen" img="images/icons/application_add.png" type="option" value="1" options="Nein,Ja" beschreibung="User dürfen einen Rapport eingeben"/>
 <setting id="Mehrbenutzersystem" img="images/icons/application_view_tile.png" type="option" value="1" options="Nein,Ja" beschreibung="Zentrales - Login - Formular"/>
 <setting id="MA dürfen Drucken" img="images/icons/printer.png" type="text" value="0" beschreibung="Bis zu welchem Tag, darf der Mitarbeiter den letzten Monat Drucken? (0=immer)"/>
 <setting id="Pause ab X Stunden" img="images/icons/clock_pause.png" type="text" value="0" beschreibung="Ab welcher Stempelzeit wird die Automatische Pause eingerechnet. (0 = keine Pause berechnen)"/>
 <setting id="Automatische Pause" img="images/icons/clock_pause.png" type="unused" value="" beschreibung="Länge der automatischen Pause / Seit Version 0.9.6 separat"/>
 <setting id="Stempelzeit edit 2" img="images/icons/clock_edit.png" type="text" value="0" beschreibung="Wie viele Tage rückwerts darf der User Zeiten editieren?"/>
 <setting id="Design auswählen" img="images/icons/color_wheel.png" type="option" value="1" options="Nein,Ja" beschreibung="Designwahl aktiv?"/>
 <setting id="Runden der Quicktime" img="images/icons/cut.png" type="text" value="0" beschreibung="Quicktime - Runden / Beispiel: runden auf 5 Min. = Stempelzeit 7.57 bis 8.02 wird auf 8 Uhr gerundet. (0=inaktiv)"/>
 <setting id="Admin Komplett" img="images/icons/group_key.png" type="option" value="1" options="Nein,Ja" beschreibung="Admin kann alles editieren (Stempelzeit, Zeiten hinzufügen, Abwesenheit, Rapport) auch wenn deaktiviert"/>
 <setting id="Absenz Berechnung 1" img="images/icons/group_key.png" type="option" value="1" options="alle eingetragenen,nur bis heute" beschreibung="nur bis zum heutigen Tag Absenzen berechnen"/>
 <setting id="Absenz Berechnung 2" img="images/icons/group_key.png" type="option" value="1" options="Nein (Achtung),Ja (Standard)" beschreibung="Arbeitszeit wird von der Absenz abgezogen. Mit dieser Einstellung könnten Ferien in Überzeit umgewandelt werden. Bitte beachten Sie die gesetzlichen Richtlinien!"/>
 <setting id="Zeit Darstellung" img="images/icons/clock.png" type="option" value="1" options="Uhrzeit (13:45),Dezimal (13.75)/Standard" beschreibung="Ob die Zeit im Rapport als Zahl oder Zeit-Format dargestellt werden soll"/>
</settings>
